// Index Tours Page
.flexslider {
  border: none;

  .slides {
    li {
      height: 300px;
      overflow: hidden;
      @media (min-width: 992px) {
        height: 400px;
      }
      @media (min-width: 1200px) {
        height: 500px;
      }

      img {
        position: absolute;
        bottom: 0;
      }
      .flex-caption {
        position: absolute;
        bottom: 50px;

        a {
          color: #fff;
          padding: 5px 0;
          text-shadow:2px 2px #333;
          cursor: pointer;
          &:hover {
            text-decoration: none;
            color: #eef178;
          }
        }
      }
    }
  }

  .flex-direction-nav {
    display: none;
  }
}

.filters-block {
  margin-bottom: 30px;
  padding: 10px 0 15px;
  background: #f4f4f4;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  text-align: center;

  .duration-select {
    height: 30px;
    background: #fff;
  }

  .fa-search {
    margin-left: 15px;
    cursor: pointer;
    &:before {
      margin-right: -25px;
    }
    &:hover {
      color: #F17033;
    }
  }

  .search-button {
    width: 30px;
    padding: 10px 0;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.tours-wrapper {
  .tours-list {
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 30px;
      .tours-item {
        box-shadow: 0 4px 30px rgba(0,0,0,.1);
        background-color: #fff;
      }
      img {
        width: 100%;
      }
      h2 {
        padding: 10px;
        a {
          color: #333;
          &:hover {
            text-decoration: none;
            color: darkblue;
          }
        }
      }
      span {
        display: inline-block;
        padding: 0 10px 20px;
      }
    }
  }
}

// Single Tour Page

.header-banner {
  height: 300px;
  overflow: hidden;
  position: relative;
  @media (min-width: 992px) {
    height: 400px;
  }
  @media (min-width: 1200px) {
    height: 500px;
  }

  img {
    width: 100%;
  }

  h1 {
    position: absolute;
    bottom: 70px;
    font-size: 28px;
    color: #fff;
    padding: 3px 0;
    border-radius: 20px;
    @media (min-width: 992px) {
      font-size: 34px;
    }
    @media (min-width: 1200px) {
      font-size: 38px;
    }
  }
  p {
    position: absolute;
    bottom: 30px;
    span {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.tabs-names-block {
  background: #f4f4f4;
  border-bottom: 1px solid #ddd;
  .names-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    li {
      display: inline-block;
      position: relative;
      padding: 10px;
      cursor: pointer;

      &.active-tab {
        background-color: #fff;
        transition: all linear 0.3s;
        &:before {
          content: '';
          background-color: #fff;
          height: 1px;
          position: absolute;
          width: 100%;
          bottom: -1px;
          left: 0;
        }
      }
    }
  }
}

.tabs-descriptions-block {
  padding: 50px 0;
  .tab-content {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.active-tab-content {
      opacity: 1;
      height: auto;
    }
  }

  .description-info {
    padding: 10px 10px 10px 30px;
    border: 1px dotted #ddd;
    background-color: #f4f4f4;
    @media (min-width: 992px) {
      width: 70%;
    }

    li {
      width: 45%;
      display: inline-block;
      margin: 5px;
      position: relative;

      span {
        position: absolute;
        left: -20px;
        top: 3px;
        color: #dc8051;
      }
    }
  }

  .price {
    margin-top: 50px;
    font-weight: 700;
  }
}
